# exclude everything
*

# include source files
!/circuits-lib
!/.cargo
!/risc0-circuits
!/bridge-circuit-host
!/core
!/scripts
!Cargo.lock
!Cargo.toml

# include for vergen constants
!/.git

# include licenses
!LICENSE-*
!LICENSE

# exclude bitvm cache (for local builders who forgot to delete it)
**/bitvm_cache*.bin

# include devops files
!/devops/**