bitvm_cache.bin
bitvm_cache_dev.bin

.DS_Store

risc0-guests/operator/guest/Cargo.lock
risc0-guests/verifier/guest/Cargo.lock
target/
.env
/configs
/core/configs
./database
.vscode
.docker/db/data/
*.log
lcov.info
lcov.json
.docker/
.idea/
logs
out.json*
dist/

core/certs/
