[workspace]
resolver = "2"
members = ["core"] # TODO: Add "circuits" back later

[workspace.dependencies]
hex = "0.4.3"
lazy_static = { version = "1.5.0", default-features = false }
serde = { version = "1.0", default-features = false }
serde_json = "1.0.128"
thiserror = "1.0.64"
tracing = { version = "0.1.40", default-features = false }
tracing-subscriber = { version = "0.3.18", features = ["json"] }
jsonrpsee = "0.22.5"
async-trait = "0.1.83"
clap = "4.5.20"
toml = "0.8.19"
sqlx = { version = "0.7.4", default-features = false }

# bitcoin
bitcoin = "0.32.3"
bitcoincore-rpc = "0.19.0"
musig2 = { version = "0.0.11", features = ["serde"] }
secp256k1 = { version = "0.29.1", features = ["serde"] }

# async + gRPC
tonic = { version = "0.12.3", features = [ "tls" ] }
prost = "0.13.3"
tokio = { version = "1.40.0", features = [ "full" ] }
tokio-stream = { version = "0.1.16", features = [ "sync" ] }
futures = "0.3.31"

# Circuits
sha2 = { version = "=0.10.8", default-features = false }
crypto-bigint = { version = "=0.5.5", features = ["rand_core"] }
borsh = { version = "1.5.1", features = ["derive"] }
k256 = { version = "=0.13.3", default-features = false }
risc0-build = "=1.1.2"
risc0-zkvm = { version = "=1.1.2" }
circuits = { git = "https://github.com/chainwayxyz/risc0-to-bitvm2" }

# TODO: Make this dev-dependency (see #181)
bitcoin-mock-rpc = { git = "https://github.com/chainwayxyz/bitcoin-mock-rpc", tag = "v0.0.12" }

[profile.release]
lto = true
strip = true
codegen-units = 1
# TODO: Abort on panic can be enabled to save binary space. But needs a proper
# error management infrastructure to not lose crash report.
# panic = "abort"
