[package]
name = "clementine-core"
version = "0.2.0"
edition = "2021"

[dependencies]
risc0-zkvm = { workspace = true }

bitcoin = { workspace = true, features = ["rand", "bitcoinconsensus"] }
bitcoincore-rpc = { workspace = true }
hex = { workspace = true, features = ["serde"] }
lazy_static = { workspace = true, features = ["spin_no_std"] }
sha2 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
# byteorder = { workspace = true }
secp256k1 = { workspace = true, features = ["serde"] }
crypto-bigint = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tokio = { workspace = true, features = ["full"] }
jsonrpsee = { workspace = true, features = ["server", "http-client", "macros"] }
async-trait = { workspace = true }
futures = { workspace = true }
clap = { workspace = true, features = ["derive"] }
toml = { workspace = true }
sqlx = { workspace = true, features = ["runtime-tokio", "postgres", "macros"] }
bitcoin-mock-rpc = { workspace = true }
musig2 = { workspace = true }
header-chain-circuit = { workspace = true }
circuits = { workspace = true }
borsh = { workspace = true}

[features]
default = []
mock_rpc = []
testing = []

[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "all_servers"
path = "src/bin/all_servers.rs"
required-features = ["testing"]

[[bin]]
name = "config_generator"
path = "src/bin/config_generator.rs"
required-features = ["testing"]
