[package]
name = "clementine-core"
version = "0.1.0"
edition = "2021"

[dependencies]
clementine-circuits = { path = "../circuits" }
bitcoin = { workspace = true, features = ["rand", "bitcoinconsensus"] }
bitcoincore-rpc = { workspace = true }
hex = { workspace = true, features = ["serde"] }
lazy_static = { workspace = true, features = ["spin_no_std"] }
sha2 = { workspace = true }
risc0-zkvm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
byteorder = { workspace = true }
secp256k1 = { workspace = true, features = ["serde"] }
crypto-bigint = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tokio = { workspace = true, features = ["full"] }
jsonrpsee = { workspace = true, features = ["server", "http-client", "macros"] }
async-trait = { workspace = true }
futures = { workspace = true }
dotenv = { workspace = true }
clap = { workspace = true, features = ["derive"] }
toml = { workspace = true }
sqlx = { workspace = true, features = ["runtime-tokio", "postgres"] }
bitcoin-mock-rpc = { workspace = true }
musig2 = { workspace = true }

[features]
default = []
poc = []
mock_rpc = []

[[bin]]
name = "verifier"
path = "src/bin/verifier.rs"

[[bin]]
name = "operator"
path = "src/bin/operator.rs"

[[bin]]
name = "user_deposit"
path = "src/bin/user_deposit.rs"

[[bin]]
name = "operator_and_verifiers"
path = "src/bin/operator_and_verifiers.rs"

[[bin]]
name = "config_generator"
path = "src/bin/config_generator.rs"
