[package]
name = "clementine-core"
version = "0.1.0"
edition = "2021"

[dependencies]
clementine-circuits = {path = "../circuits"}
# operator-circuit = {path = "../circuits/operator"}
bitcoin = { version = "0.31.1", features = ["rand", "bitcoinconsensus"] }
bitcoincore-rpc = "0.18.0"
hex = {version = "0.4.3", features = ["serde"]}
lazy_static = {version="1.4.0", default-features = false, features = ["spin_no_std"]}
sha2 = "=0.10.8"
risc0-zkvm = { version = "0.21.0" }
serde = "1.0"
serde_json = "1.0.108"
byteorder = "1.5.0"
secp256k1 = {version="0.28.1", features = ["serde"]}
crypto-bigint = {version="=0.5.5"}
thiserror = "1.0.57"
tracing = "0.1.40"
tracing-subscriber = {version = "0.3.18", features = ["env-filter"] }
tokio = { version = "1.37.0", features = ["full"] }
jsonrpsee = {version = "0.20.1", features = ["server", "http-client", "macros"]}
async-trait = "0.1.79"
futures = "0.3.30"
dotenv = "0.15.0"
clap = { version = "4.5.4", features = ["derive"] }
toml = "0.8.12"
sqlx = { version = "0.7.4", features = ["runtime-tokio", "postgres"] }
ethers = "2.0.14"
reth-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v0.2.0-beta.7", default-features = false }
reth-rpc-types = { git = "https://github.com/paradigmxyz/reth", tag = "v0.2.0-beta.7" }
reth-rpc-types-compat = { git = "https://github.com/paradigmxyz/reth", tag = "v0.2.0-beta.7" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", tag = "v0.2.0-beta.7" }

[features]
default = []
poc = []

[[bin]]
name = "verifier"
path = "src/bin/verifier.rs"

[[bin]]
name = "operator"
path = "src/bin/operator.rs"

[[bin]]
name = "user_deposit"
path = "src/bin/user_deposit.rs"

[[bin]]
name = "operator_and_verifiers"
path = "src/bin/operator_and_verifiers.rs"

[[bin]]
name = "config_generator"
path = "src/bin/config_generator.rs"
