[alias]
test_unit = "test --features automation,use-test-vk"
test_integration = "test --workspace --all-features -p clementine-core test:: -- --test-threads 7"
test_integration_release = "test --release --workspace --all-features -p clementine-core test:: -- --test-threads 7"
build_console = '''
build -p clementine-core --all-features --config build.rustflags=["--cfg","tokio_unstable"]
'''