name: Build And Test

on: [push]

env:
  CARGO_TERM_COLOR: always
  CARGOFLAGS: --workspace --all-targets --all-features
  RUST_LOG: warn,risc0_zkvm=error,risc0_circuit_rv32im=error
  RISC0_DEV_MODE: 1
  RUST_MIN_STACK: 33554432

jobs:
  # Build ------------------------------------------------------------------------
  debug_build:
    name: Compile code with debug profile
    runs-on: ubicloud-standard-30

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites

      - name: Save build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "debug-build"

      - name: Compile in debug mode
        run: cargo build $CARGOFLAGS --verbose

  release_build:
    name: Compile code with release profile
    runs-on: ubicloud-standard-30

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites

      - name: Save build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "release-build"

      - name: Compile in release mode
        run: cargo build $CARGOFLAGS --verbose --release

  # Tests ------------------------------------------------------------------------
  debug_build_test:
    name: Test code with debug build
    runs-on: ubicloud-standard-30
    needs: debug_build

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: clementine
          POSTGRES_USER: clementine
          POSTGRES_PASSWORD: clementine
          POSTGRES_INITDB_ARGS: "-c shared_buffers=8GB -c max_connections=1000"
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites
      - uses: ./.github/actions/test-prerequisites

      - name: Restore cached build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "debug-build"

      - name: Run tests
        run: cargo test

  release_build_test:
    name: Test code with release build
    runs-on: ubicloud-standard-30
    needs: release_build

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: clementine
          POSTGRES_USER: clementine
          POSTGRES_PASSWORD: clementine
          POSTGRES_INITDB_ARGS: "-c shared_buffers=8GB -c max_connections=1000"
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites
      - uses: ./.github/actions/test-prerequisites

      - name: Restore cached build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "release-build"

      - name: Run tests
        run: cargo test --release

  bridge_circuit_release_build_test:
    name: Test bridge circuit host code with release build
    runs-on: ubicloud-standard-30
    needs: release_build

    env:
      RISC0_DEV_MODE: 0

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Restore cached build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "release-build"

      - name: Run tests
        run: cargo test --release -p bridge-circuit-host bridge_circuit_test -- --ignored

  e2e_with_proving_release_build_test:
    name: Test citrea e2e proving with release build
    runs-on: ubicloud-standard-30
    needs: release_build

    env:
      RISC0_DEV_MODE: 0

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: clementine
          POSTGRES_USER: clementine
          POSTGRES_PASSWORD: clementine
          POSTGRES_INITDB_ARGS: "-c shared_buffers=8GB -c max_connections=1000"
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites
      - uses: ./.github/actions/test-prerequisites

      - name: Restore cached build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "release-build"

      - name: Run tests
        run: cargo test --release citrea_deposit_and_withdraw_e2e

  coverage:
    name: Coverage checks with Codecov
    runs-on: ubicloud-standard-30
    needs: debug_build_test
    if: github.event.pull_request.draft == false

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: clementine
          POSTGRES_USER: clementine
          POSTGRES_PASSWORD: clementine
          POSTGRES_INITDB_ARGS: "-c shared_buffers=8GB -c max_connections=1000"
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/build-prerequisites
      - uses: ./.github/actions/test-prerequisites
      - uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run coverage
        run: cargo llvm-cov --locked --lcov --output-path lcov.info
      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
