name: Code Checks

on: [push]

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: warn,risc0_zkvm=error,risc0_circuit_rv32im=error
  RISC0_DEV_MODE: 1
  RUST_MIN_STACK: 33554432

jobs:
  formatting:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/install-risc0
    - name: Run Cargo fmt
      run: cargo fmt --check

  linting:
    name: Check linting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/install-risc0

    - name: Run Cargo clippy
      run: cargo clippy --no-deps --all-targets -- -Dwarnings

  udeps:
    name: Check unused dependencies
    runs-on: ubicloud-standard-8

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-risc0
      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-03-09
          override: true

      - name: Run cargo-udeps
        env:
          RUSTFLAGS: -A warnings
        uses: aig787/cargo-udeps-action@v1
        with:
          version: "latest"
          args: "--workspace --all-features --all-targets"

  todo:
    name: Check for TODO statements
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run script
        run: scripts/check_for_todos.sh
        continue-on-error: true # TODO: This should be removed later
